<!-- partials/nav.html -->
{% load static %}
{% load my_filters %}

<nav class="navbar navbar-expand-lg navbar-dark main-navbar">
    <button id="mainNavbarMenuButton" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-navbar-collapse-1" aria-controls="main-navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="main-navbar-collapse-1">
        <div class="navbar-nav">

        {% block main_nav %}

        {% if user.is_authenticated %}
            {% for item in menu_items %}
                {% if item.children %}
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle main-nav-dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">
                            {% if item.icon %}
                                <span class="{{ item.icon }} tab-icon"></span>
                            {% endif %}
                            <span class="tab-text">{{ item.label }}</span>
                            <i class="fas fa-chevron-down lm5"></i>
                        </a>
                        <div class="dropdown-menu main-nav-dropdown">
                            {% for child in item.children %}
                                {% if child.url %}
                                    <a class="dropdown-item" href="{{ child.url }}">
                                        {% if child.icon %}<span class="{{ child.icon }} fa-fw"></span>{% endif %}
                                        {{ child.label }}
                                    </a>
                                {% else %}
                                    <span class="dropdown-item text-muted">
                                        {% if child.icon %}<span class="{{ child.icon }} fa-fw"></span>{% endif %}
                                        {{ child.label }}
                                    </span>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% else %}
                    <div class="nav-item">
                        {% if item.url %}
                            <a class="nav-link" href="{{ item.url }}">
                                {% if item.icon %}<span class="{{ item.icon }} tab-icon"></span>{% endif %}
                                <span class="tab-text">{{ item.label }}</span>
                            </a>
                        {% else %}
                            <span class="nav-link text-muted">
                                {% if item.icon %}<span class="{{ item.icon }} tab-icon"></span>{% endif %}
                                <span class="tab-text">{{ item.label }}</span>
                            </span>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endblock main_nav %}
    </div>


    </div>
    <div class="navbar-nav main-navbar-right float-end">
        {% if user.is_authenticated %}
        <!-- SEARCH TAB //-->
        <div class="nav-item">
            <div class="my-3 mr-2">
                <div class="input-group">
                    <input type="search" id="txtGlobalSearch" class="form-control" placeholder="Search for..." cols="15" autocomplete="off">
                    <div id="txtGlobalSearchInfo" class="input-group-text" data-bs-toggle="tooltip" data-bs-html="true" title="">
                        <span id="searchInfoIcon" class="fa fa-info-circle fa-fw mt-1"></span>
                        <span id="searchLoadingIcon" class="fa fa-spinner fa-spin fa-fw"></span>
                    </div>
                </div>
                
            </div>
        </div>

        <!-- BOOKMARKS ICON -->
        <div class="nav-item dropdown icon-only-tab bookmark-tab d-none d-md-block">
            <a href="#" class="nav-link dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false" title="Bookmarks">
                <span class="tab-icon fas fa-bookmark fa-fw" style="line-height:20px;"></span><span class="tab-text"> Bookmarks</span>
            </a>
            <div class="dropdown-menu" id="bookmarks-menu">
                <a class="dropdown-item" href="#" id="add-bookmark"><span class="fas fa-bookmark fa-fw mr-1" style="color:#15b508;"></span> Bookmark This Page</a>
                <div role="separator" class="dropdown-divider"></div>
                <h6 class="dropdown-header">Saved Bookmarks</h6>
                
                        <a id="no-bookmarks"  class="dropdown-item disabled">You don't have any bookmarks.</a>
                        
            </div>
        </div>

        <div style="height:30px; margin:18px 7px; border-left:solid 1px #eee;" class="d-none d-lg-block"></div>

        <!-- ORGANIZATION / FACTION -->
        <div id="appTitleMenu" class="nav-item dropdown current-user-menu d-none d-lg-block">
            {% with org=user_profile.organization %}
                {% if org and org.slug %}
                    <a href="{% url 'organization_show' organization_slug=org.slug %}" class="nav-link app-title" onclick="return false;">
                        {{ org }}
                    </a>
                {% elif org %}
                    <span class="nav-link app-title">{{ org }}</span>
                {% else %}
                    <span class="nav-link app-title">Organization</span>
                {% endif %}
            {% endwith %}
        </div>

        <div style="height:30px; margin:18px 7px; border-left:solid 1px #eee;" class="d-none d-lg-block"></div>

        <!-- USER MENU -->
        <div class="nav-item dropdown current-user-menu">
            <a id="user-avatar-tab" href="#" class="nav-link dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false" data-beamer-click=”false”>
                <div style="display:table-row;">
                    <div class="user-avatar" style="display:table-cell; width:30px; height:48px;">
                        
                                <img src="{% static 'images/avatar/default.png' %}" style="height:30px; width:30px; margin-top:9px;" />
                        
                    </div>
                </div>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <div class="dropdown-item" style="padding-top:10px; padding-bottom:10px;">
                    <div class="d-flex">
                        <div class="user-avatar" style="width:40px;">
                            
                                    <img src="{% static 'images/avatar/default.png' %}" style="height:30px; width:30px;" />
                            
                        </div>
                        <div class="user-display-name" style="vertical-align:top; width:140px;">
                            <div><strong>{{ user.first_name | title }} {{ user.last_name | title}}</strong></div>
                            
                            <div><a class="small" href="{% url 'account_settings' %}">Edit Profile &amp; Preferences</a></div>
                        </div>
                    </div>
                </div>
                <div class="dropdown-item">
                    <hr style="margin:5px 0;" />
                </div>
                <a class="dropdown-item" id="settings" href="{% url 'account_settings' %}"><i class="fas fa-cog fa-fw"></i> Settings</a>
                <a class="dropdown-item" id="beamer-icon" href="#"><i class="fa fa-envelope fa-fw"></i> Notifications</a>
                <a class="dropdown-item" href="#"><i class="fa fa-question-circle fa-fw"></i> Help</a>
                <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: none;">
                    {% csrf_token %}
                </form>
                
                <a class="dropdown-item" id="logout" href="#" onclick="document.getElementById('logout-form').submit();">
                    <span class="fa fa-sign-out fa-fw"></span> Sign Out
                </a>
                
                
            </div>
        </div>
        {% endif %}
    </div>
  </div>
</nav>
