<!-- partials/top_links.html -->
{% load menu_filters %}
<ul id="top-links">
{% for item in toplinks %}
    {% if item|is_visible:user %}
        {% if item.icon %}
    <li class="icon"><a href="{% url item.url_name %}" aria-label="{{ item.title }}" title="{{ item.title }}"><i class="fas {{ item.icon }}" aria-hidden="true"></i></a></li>
        {% else %}
    <li><a href="{% url item.url_name %}">{{ item.title }}</a></li>
        {% endif %}
    {% endif %}
{% endfor %}
{% if user.is_authenticated %}
    <li class="icon">
        <form method="post" action="{% url 'logout' %}" id="logout-form">
            {% csrf_token %}
            <button type="submit" class="link-button" aria-label="Sign Out" title="Sign Out">
                <i class="fas fa-arrow-right-from-bracket" aria-hidden="true"></i>
            </button>
        </form>
    </li>
{% endif %}
</ul>
