<!doctype html>
<head>

{% block html_head %}
    <title>{% block title %}[CampfireConnections] - {% block title_text %}{% endblock title_text %}{% endblock title %}</title>

    {% block meta_info %}
    <meta name="description" content="summer camp scheduling system">
    <meta name="author" content="vendetta solutions">

        {% block mobile_viewport %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock mobile_viewport%}
    {% endblock meta_info %}

    {% block link_icons %}
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    {% endblock link_icons %}

    {% block statics %}
    {% load static %}

    {% block javascripts %}
        {% block javascripts_local %}{% endblock javascripts_local %}

        {% block javascripts_external %}
    <!-- Bootstrap JS and dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- In base.html -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        {% endblock javascripts_external %}
    {% endblock javascripts %}

    {% block stylesheets %}
        {% block stylesheets_local %}
    {#<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">#}
    <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    {#<link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">#}
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/color-themes/blue.css' %}">
        {% endblock stylesheets_local %}

        {% block stylesheets_external %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.1.2/css/dataTables.dataTables.min.css">
        {% endblock stylesheets_external %}
    {% endblock stylesheets %}
    {% endblock statics %}
{% endblock html_head %}
</head>
<body>
{% block body %}
    {% block header_wrapper %}
        {#{% include 'base/header.html' %}#}
        {% include 'partials/nav.html' %}
    {% endblock header_wrapper %}

    {% block content_wrapper %}
    <div id="body">
        <div class="clearfix">
            {% include 'partials/breadcrumbs.html' %}
        </div>

        {% block content %}{% endblock content %}

    </div>
    {% endblock content_wrapper %}

    {% block footer_wrapper %}
        {% include 'base/footer.html' %}
    {% endblock footer_wrapper %}

{% endblock body %}

</body>
</html>