{% extends 'base/layout.html' %}
{% load static %}
{% load i18n %}
{% load my_filters %}
{% load render_table from django_tables2 %}
{% block title_text %}{{ object.name|default:"List"|pluralize_word:True|title }}{% endblock title_text %}

{% block stylesheets_local %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/list.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/table.css' %}">
{% endblock stylesheets_local %}

{% block content %}
<div class="bodyHeader">
    <div class="d-flex justify-content-between align-items-center">
        <div>
            <h1>
                <span id="lblPageTitle">{% block objects_title %}{{ object.name|default:"List"|pluralize_word:True|title }}{% endblock objects_title %}</span>
            </h1>
        </div>
        <div>
            <a class="btn btn-secondary" href="{% block new_url %}{{ new_url|default:'new' }}{% endblock new_url %}">
                <span class="fas fa-fw fa-plus-square text-success"></span>
                {% block new_label %}{% blocktrans with obj=object.name|title %}New {{ obj }}{% endblocktrans %}{% endblock new_label %}
            </a>
        </div>
    </div>
</div>

<div class="body-content">
    <span id="lblErrorMessage" role="alert" aria-live="polite"></span>

    {% if messages %}
        <div class="alert-container">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags|default:'info' }} mb-2" role="alert">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}

    {% block table_caption %}{% if table_caption %}<p class="sr-only">{{ table_caption }}</p>{% endif %}{% endblock table_caption %}

    {% if table and table.rows|length %}
        {% render_table table %}
    {% else %}
        <p>{% trans "No data available to display." %}</p>
    {% endif %}
</div>
{% endblock content %}
