{% extends 'base/layout.html' %}

{% block title_text %}{% endblock title_text %}

{% block content %}
<br><br><br><br>
    <div class="container">
    {% block content_heading %}
        <h1>{% block content_header_text %}{% endblock content_header_text %}</h1>
    {% endblock content_heading %}

    {% block content_content %}
        {{ table }}
        {% block content_footer %}
            {% block content_footer_text %}
        <a href="{% url 'home' %}">Back Home</a>
            {% endblock content_footer_text %}
        {% endblock content_footer %}
        
    {% endblock content_content%}
    </div>
{% endblock content %}
