{% extends "base/form.html" %}

{% block title_text %}Edit User{% endblock %}
{% block form_title %}Edit {{ user_obj.get_full_name|default:user_obj.username }}{% endblock form_title %}
{% block form_heading %}Edit {{ user_obj.get_full_name|default:user_obj.username }}{% endblock form_heading %}
{% block form_subtitle %}<p class="text-muted mb-0">Update portal user details.</p>{% endblock form_subtitle %}
{% block cancel_url %}{% url 'admin_user_detail' username=user_obj.username %}{% endblock cancel_url %}
{% block cancel_url_bottom %}{% url 'admin_user_detail' username=user_obj.username %}{% endblock cancel_url_bottom %}
